<a href="https://colab.research.google.com/github/MatthewFried/Udemy/blob/master/1_2_Python_Intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# __Introduction to Python__

In [ ]:
    #gathering the user's name and age
    name = input("What is your name? ") 
    age = int(input("What is your age? "))

    ageInSeconds = age * 365*24*60*60

    print("\nYour name is:\t" + name + ".\nAnd your age in seconds is:\t" + str(ageInSeconds))

What is your name? Bob
What is your age? 11

Your name is:	Bob.
And your age in seconds is:	346896000

##**Getting Info**##

The below program explains how to use a float

In [ ]:
name = input('What is your name? ')
age = int(input('What is your age? '))
income = float(input('What is your income? '))

# Display the data.
print('Here is the data you entered:')
print('Name:', name)
print('Age:', age)
print('Income:', income)

What is your name? Bob
What is your age? 90
What is your income? 11.92
Here is the data you entered:
Name: Bob
Age: 90
Income: 11.92

###**Doing Calculations**###

Here we show some basic mathematical calculations

In [ ]:
#Give a 30% discount
original_price = float(input("Enter the item's original price: "))

print('The sale price is', original_price-original_price*.3)

Enter the item's original price: 21.20
The sale price is 14.84

###**Floating Point and Integer Division**###

There are two different ways to divided. Make sure you know which you mean.

In [ ]:
#regular division
print(5/2)

#integer divsion
print(5//2)

#mod
print(5%2)

2.5
2
1

In [ ]:
#power
print(5**2)

25

In [ ]:
test1 = 94
test2 = 96
test3 = 81
average = (test1 + test2 + test3) / 3.0
print(average)

90.33333333333333

##**Put in a Picture**##

https://drive.google.com/file/d/1C1Tk41EKAwgD7OcGJC0ZNhcmRoea881Q/view?usp=sharing

![Data](https://drive.google.com/uc?export=view&id=1C1Tk41EKAwgD7OcGJC0ZNhcmRoea881Q)

In [ ]:
#one long line
x = y = z = 10

#assign different types at once
a,b,c = 1,2.4,"bency"

In [ ]:
#complex numbers
x = 1 + 3j
y = 2 + 4j
print(x+y)

(3+7j)

In [ ]:
#scientific notation
x = 3e-10
print(x)

3e-10

##**Present Value**##

Here is an example of using Python to get the present value of an investment. We ask the user for the info and then do the math, based on the known formula.

PV = FV / (1 + r)<sup>years</sup>

In [ ]:
future_value = float(input('Enter the desired future value: '))
rate = float(input('Enter the annual interest rate: '))
years = int(input('Enter the number of years the money will grow: '))

present_value = future_value / (1.0 + rate)**years

print('You will need to deposit this amount:', present_value)

Enter the desired future value: 10000
Enter the annual interest rate: .05
Enter the number of years the money will grow: 16
You will need to deposit this amount: 4581.115219914001

##**String Concatenation and Printing**##

* We use the plus (+) symbol for string concatenation. 
* The print function has several important variations

In [ ]:
a = "hot"
b = "dog"
print(a+b)

hotdog

In [ ]:
 #the print function has several options to end it with
 print('One', end=' | ')
 print('Two', end=' | ')
 print('Three')

One | Two | Three

In [ ]:
#here is a separator
print('One', 'Two', 'Three', sep=' | ')
print('One', 'Two', 'Three', sep='--*--')

One | Two | Three
One--*--Two--*--Three

In [ ]:
#use the f to refer to a variable
name = 'Matthew'
print(f'Hello there {name}. It\'s a pleasure to meet you {name}.')

Hello there Matthew. It's a pleasure to meet you Matthew.

In [ ]:
#you can do some math as well
discount = .3
value = float(input("How much is the item?\n"))
print(f'Your discounted value is {value*(1-discount)}.')

How much is the item?
31
Your discount is 21.7.

In [ ]:
#finding a monthly payment with some rounding
amount_due = 50000.0
monthly_payment = amount_due / 12.0

#here we use rounding and comma separators
print(f'The monthly payment is ${monthly_payment:,.2f}.')

The monthly payment is $4,166.67.

In [ ]:
#do some rounding
e = 2.7182818284590452353602874713527
print(f'{e:.3f}')

2.718

In [ ]:
#display as a percentage
total_loan = float(input("What was your total loan? "))
paid_off = float(input("How much have you paid off already? "))

percent_paid = (total_loan-paid_off)/total_loan
#show to 2 decimal spots
print(f'What\'s left: {percent_paid:.2%}.')

What was your total loan? 252
How much have you paid off already? 52
What's left: 79.37%.

In [ ]:
#scientific notation
number = 2.7182818284590452353602874713527
print(f'{number:e}')

2.718282e+00

In [ ]:
#named constants
INTEREST_RATE = 0.075
amount = balance * INTEREST_RATE

###**In Python...**###

Assume there are always several other ways to do the same thing.

In [ ]:
print('Here is another example of doing the above. This position is the first spot. It is: {0}. We can use it as many times as we like. See here: {0}. \
There are other holders too, such as this: {1}. And there are even names you can use: {other}.'
     .format('FIRST SPOT', 'SECOND SPOT', other ='OTHER'))

Here is another example of doing the above. This position is the first spot. It is:  FIRST SPOT. We can use it as many times as we like. See here: FIRST SPOT. There are other holders too, such as this: SECOND SPOT. And there are even names you can use: OTHER.

In [ ]:
print("It can get really confusing though :{0:25d}. \nMore info:{1:20.3f}".format(123456, 00.5942))

It can get really confusing though :                   123456.
More info:               0.594

##**Practice Questions**##

1. A customer in a store is purchasing five items. Write a program that asks for the price of each item, then displays the subtotal of the sale, the amount of sales tax, and the total. Assume the sales tax is 7 percent.

In [ ]:
# Constant for the sales tax rate.
TAX_RATE = 0.07

# Get the price of each item.
item1 = float(input("Enter the price of item #1: "))
item2 = float(input("Enter the price of item #2: "))
item3 = float(input("Enter the price of item #3: "))
item4 = float(input("Enter the price of item #4: "))
item5 = float(input("Enter the price of item #5: "))

# Calculate the subtotal.
subtotal = item1 + item2 + item3 + item4 + item5

# Calculate the sales tax.
tax = subtotal * TAX_RATE

# Calculate the total.
total = subtotal + tax

# Print the values.
print ("Subtotal: ", format(subtotal, '.2f'))
print ("Sales Tax: ", format(tax, '.2f'))
print ("Total: ", format(total, '.2f'))

2. Write a program that will ask the user to enter the amount of a purchase. The program should then compute the state and county sales tax. Assume the state sales tax is 5 percent and the county sales tax is 2.5 percent. The program should display the amount of the total of the sale (which is the sum of the amount of purchase plus the total sales tax). Hint: Use the value 0.025 to represent 2.5 percent, and 0.05 to represent 5 percent.

In [ ]:
# Variable declarations
purchase = totalTax = totalSale = 0.0

# Constants for the state and county tax rates
STATE_TAX_RATE = 0.05
COUNTY_TAX_RATE = 0.025

# Get the amount of the purchase.
purchase = float(input("Enter the amount of the purchase: "))

# Calculate the total tax.
totalTax = (purchase * STATE_TAX_RATE) + (purchase * COUNTY_TAX_RATE)

# Calculate the total of the sale.
totalSale = purchase + totalTax

# Print information about the sale.
print ("Sale Total:", format(totalSale, '.2f'))

In [ ]:
# This program calculates the ending principal in a bank
# account after compounding the interest.

p = float(input('Enter the starting principal: '))

r = float(input('Enter the annual interest rate: '))

print('How many times per year is the interest compounded? ', end='')
n = int(input())

print('For how many years will the account earn interest? ', end='')
t = int(input())

# Adjust the interest rate.
r = r / 100

# Calculate the ending balance.
a = p * (1 + float(r) / n) ** (n * t)

# Display the ending balance.
print('At the end of', t, 'years you will have $', format(a, ',.2f'))

Enter the starting principal:  100
Enter the annual interest rate: 7
How many times per year is the interest compounded? 12
For how many years will the account earn interest? 30
At the end of 30 years you will have $ 811.65