<a href="https://colab.research.google.com/github/MatthewFried/Udemy/blob/master/9_Dictionaries_and_Sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# __Dictionaries and Sets__

A dictionary is an object that stores a collection of data. Each element in a dictionary has two parts: a key and a value. You use a key to locate a specific value.

In [ ]:
#example 1
phonebook = {'Alice':'123-45678', 'Bob':'987-7654', 'C':'3'}
print(phonebook)

123-45678

In [ ]:
#example 2
city_population = {'NY': 8.6, "LA": 4.0,"Chicago": 2.6, 'Houston': 2.3}
print(city_population)

{'NY': 8.6, 'LA': 4.0, 'Chicago': 2.6, 'Houston': 2.3}

In [ ]:
#search for a value

phonebook = {'A':'1', 'B':'2', 'C':'3'}
if 'B' in phonebook:
  print(phonebook['B'])

2

In [ ]:
#delete a value
phonebook = {'A':'1', 'B':'2', 'C':'3'}
del phonebook['A']
print(phonebook)

{'B': '2', 'C': '3'}

In [ ]:
#number of items in a dictionary
phonebook = {'A':'1', 'B':'2', 'C':'3'}
print(len(phonebook))

3

In [ ]:
#mixed type dictionaries
scores = {'A': [90,92,870], 'B': [94,89,91]}
print(scores['A'])

[90, 92, 870]

In [ ]:
#create a dictionary step by step
my_dict = {}
my_dict['Alice'] = 100
my_dict['Bob'] = 102

print(my_dict)

{'Alice': 100, 'Bob': 102}

In [ ]:
#iterate over my dictionary
phonebook = {'A':'1', 'B':'2', 'C':'3'}

for k in phonebook:
  print(k,phonebook[k])

A 1
B 2
C 3

In [ ]:
#the get method
phonebook = {'A':'1', 'B':'2', 'C':'3'}
val1 = phonebook.get('B', "Can't find him")
val2 = phonebook.get('D', "Can't find him")

print(val1)
print(val2)

2
Can't find him

In [ ]:
#print the keys and values
phonebook = {'A':'1', 'B':'2', 'C':'3'}
for key, value in phonebook.items():
  print(key, value)

A 1
B 2
C 3

In [ ]:
#print just the values
phonebook = {'A':'1', 'B':'2', 'C':'3'}
for val in phonebook.values():
  print(val)

1
2
3

In [ ]:
#print just the keys
for key in phonebook.keys():
   print(key)

A
B
C

In [ ]:
#use pop
phonebook = {'A':'1', 'B':'2', 'C':'3'}
phone_num = phonebook.pop('A', 'Element not found')
print("A's number: ", phone_num)

print("And now the phonebook info is:")
for key, value in phonebook.items():
  print(key, value)

A's number:  1
{'B': '2', 'C': '3'}
And now the phonebook info is:
B 2
C 3

In [ ]:
#pop a key and value with storage
phonebook = {'A':'1', 'B':'2', 'C':'3'}
key, value = phonebook.popitem()

print("The info taken is: ", key, value)

print("\nAnd now the phonebook info is:")
for key, value in phonebook.items():
  print(key, value)

The info taken is:  C 3

And now the phonebook info is:
A 1
B 2

## Dictionary Comprehensions

In [ ]:
#dictionary of squares
squares = {}
numbers = [1,2,3,4,5]
for item in numbers:
  squares[item] = item**2

for key, value in squares.items():
  print(key, value)

1 1
2 4
3 9
4 16
5 25

In [ ]:
#same same but different
cubes = {item:item**3 for item in numbers}

for key, value in cubes.items():
  print(key, value)

1 1
2 8
3 27
4 64
5 125

In [ ]:
#if statements and dictionary comprehensions
populations = {'New York': 8398748, 'Los Angeles': 3990456, 'Chicago': 2705994,'Houston': 2325502, 'Phoenix': 1660272, 'Philadelphia': 1584138}
#not as a list comprehension
largest = {}
for k, v in populations.items():
  if v > 2000000:
    largest[k] = v

print(largest)

{'New York': 8398748, 'Los Angeles': 3990456, 'Chicago': 2705994, 'Houston': 2325502}

In [ ]:
#if statements and dictionary comprehensions
populations = {'New York': 8398748, 'Los Angeles': 3990456, 'Chicago': 2705994,'Houston': 2325502,'Phoenix': 1660272, 'Philadelphia': 1584138}

#as a list comprehension
largest = {k:v for k,v in populations.items() if v > 2000000}

# Sets

A set is a collection of unique values.

In [ ]:
#use the keyword set to create a set
myset = set('aaabc')
print(myset)

{'a', 'b', 'c'}

In [ ]:
#you can pass a set as a list as well
myset = set(['one', 'two', 'three','one'])
print(myset)
print(f"There are {len(myset)} values in the set")

{'one', 'two', 'three'}
There are 3 values in the set

In [ ]:
#update a set and add values
myset = set(['a','b','c','d'])
myset.update([4, 5, 6, 'c'])
print(myset)

{4, 5, 6, 'a', 'c', 'b', 'd'}

In [ ]:
#use set functions
#use remove
myset = set([0,1,2,3,4,5,6,7,8,9,10])
myset.remove(1)
print(myset)

#use discard
myset.discard(5)
print(myset)

{0, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{0, 2, 3, 4, 6, 7, 8, 9, 10}

In [ ]:
#iterate over a set with a loop
myset = set(['a', 'b', 'c',1,1,1,1,1,2,3])
for val in myset: 
  print(val)

1
2
3
a
b
c

In [ ]:
#use the 'in' operator
myset = set(['a', 'b', 'c',1,1,1,1,1,2,3])

if 1 in myset:
    print('The value 1 is in the set.')

if 99 not in myset:
  print('The value 99 is not in the set.')

The value 1 is in the set.
The value 99 is not in the set.

# Unions and More

In [ ]:
set1 = set([8,9,11,10,14]) 
set2 = set([11,15,16,16,10])

#unions are the unique values of the sets together
set3 = set1.union(set2)
set4 = set1 | set2
print("Union:", set3, set4)

#intersections are the values that both sets contain
set5 = set1.intersection(set2)
set6 = set1 & set2
print('Intersection', set5, set6)

#difference is elements in set 1 and not in set 2
#a similar notation would be: set8 = set1 - set2
set7 = set1.difference(set2)
print("Difference:", set7)

#The method returns a set that contains the elements that are found in either set1 or set2 but not both sets
#a similar notation would be: set10 = set1ˆset2
set9 = set1.symmetric_difference(set2)
print("Symmetric_difference:",set9 )

#check if one set is a superset or subset of another, returns True or False
#a similar notation works such as: set2 <= set1, or set1 >= set2
print("Subset:", set2.issubset(set1))
print("Superset", set1.issuperset(set2))

Union: {16, 8, 9, 10, 11, 14, 15} {16, 8, 9, 10, 11, 14, 15}
Intersection {10, 11} {10, 11}
Difference: {8, 9, 14}
Symmetric_difference: {8, 9, 14, 15, 16}
Subset: False
Superset False

### Set Comprehension

In [ ]:
set1 = set([1, 2, 3, 4, 5])
set2 = {item**2 for item in set1}
print(set1, set2)

{1, 2, 3, 4, 5} {1, 4, 9, 16, 25}

In [ ]:
set1 = set([1, 20, 2, 40, 3, 50])
set2 = {item for item in set1 if item < 10}
print(set1, set2)

# Practice Exercises

Write a program that uses a dictionary to assign “codes” to each letter of the alphabet. For example:
```python
codes = { ‘A’ : ‘%’, ‘a’ : ‘9’, ‘B’ : ‘@’, ‘b’ : ‘#’, etc . . .}
```
Using this example, the letter A would be assigned the symbol %, the letter a would be assigned the number 9, the letter B would be assigned the symbol @, and so forth.

The program should open a specified text file, read its contents, then use the dictionary to write an encrypted version of the file’s contents to a second file. Each character in the second file should contain the code for the corresponding character in the first file.

Write a second program that opens an encrypted file and displays its decrypted contents on the screen.

In [ ]:
# Encryption and decryption are inverse of one another
CODE = {'A':')','a':'0','B':'(','b':'9','C':'*','c':'8',\
        'D':'&','d':'7','E':'^','e':'6','F':'%','f':'5',\
        'G':'$','g':'4','H':'#','h':'3','I':'@','i':'2',\
        'J':'!','j':'1','K':'Z','k':'z','L':'Y','l':'y',\
        'M':'X','m':'x','N':'W','n':'w','O':'V','o':'v',\
        'P':'U','p':'u','Q':'T','q':'t','R':'S','r':'s',\
        'S':'R','s':'r','T':'Q','t':'q','U':'P','u':'p',\
        'V':'O','v':'o','W':'N','w':'n','X':'M','x':'m',\
        'Y':'L','y':'l','Z':'K','z':'k','!':'J','1':'j',\
        '@':'I','2':'i','#':'H','3':'h','$':'G','4':'g',\
        '%':'F','5':'f','^':'E','6':'e','&':'D','7':'d',\
        '*':'C','8':'c','(':'B','9':'b',')':'A','0':'a',\
        ':':',',',':':','?':'.','.':'?','<':'>','>':'<',\
        "'":'"','"':"'",'+':'-','-':'+','=':';',';':'=',\
        '{':'[','[':'{','}':']',']':'}'}

def main():
    # Obtain a string of the converted text.
    result = convert()

    # Open output file and write to it.
    output_name = input('Enter the name of the output file: ')
    output_file = open(output_name, 'w')
    output_file.write(result)
    output_file.close()

# The convert function asks the user for a file name, opens
# the file, and converts its contents using the CODE above.
# It then returns a string of the converted text.
def convert():
    input_name = input('Enter the name of the input file: ')
    
    input_file = open(input_name, 'r')

    result = ''
    text = input_file.read()

    # If character is space, it is not converted;
    # otherwise convert.
    for ch in text:

        if ch.isspace():
            result = result + ch
        else:
            result = result + CODE[ch]

    return result

# Call the main function.
main()


# Part 2

# Encryption and decryption are inverse of one another
CODE = {'A':')','a':'0','B':'(','b':'9','C':'*','c':'8',\
        'D':'&','d':'7','E':'^','e':'6','F':'%','f':'5',\
        'G':'$','g':'4','H':'#','h':'3','I':'@','i':'2',\
        'J':'!','j':'1','K':'Z','k':'z','L':'Y','l':'y',\
        'M':'X','m':'x','N':'W','n':'w','O':'V','o':'v',\
        'P':'U','p':'u','Q':'T','q':'t','R':'S','r':'s',\
        'S':'R','s':'r','T':'Q','t':'q','U':'P','u':'p',\
        'V':'O','v':'o','W':'N','w':'n','X':'M','x':'m',\
        'Y':'L','y':'l','Z':'K','z':'k','!':'J','1':'j',\
        '@':'I','2':'i','#':'H','3':'h','$':'G','4':'g',\
        '%':'F','5':'f','^':'E','6':'e','&':'D','7':'d',\
        '*':'C','8':'c','(':'B','9':'b',')':'A','0':'a',\
        ':':',',',':':','?':'.','.':'?','<':'>','>':'<',\
        "'":'"','"':"'",'+':'-','-':'+','=':';',';':'=',\
        '{':'[','[':'{','}':']',']':'}'}

def main():
    # Obtain a string of converted text.
    result = convert()

    # Write converted text to the screen.
    print(result)

# The convert function asks the user for a file name, opens
# the file, and converts its contents using the CODE above.
# It then returns a string of the converted text.
def convert():
    input_name = input('Enter the name of the input file: ')
    
    input_file = open(input_name, 'r')

    result = ''
    text = input_file.read()

    # If character is space, it is not converted;
    # otherwise convert.
    for ch in text:

        if ch.isspace():
            result = result + ch
        else:
            result = result + CODE[ch]

    return result

# Call the main function.
main()

> Write a program that opens a specified text file then displays a list of all the unique words found in the file.

In [ ]:
def main():
    # Get name of input file.
    input_name = input('Enter the name of the input file: ')
    
    # Open the input file and read the text.
    input_file = open(input_name, 'r')
    text = input_file.read()
    words = text.split()

    # Create set of unique words.
    unique_words = set(words)

    # Print the results.
    print('These are the unique words in the text:')
    for word in unique_words:
        print(word)

    # Close the file.
    input_file.close()

# Call the main function.
main()

> Write a program that reads the contents of a text file. The program should create a dictio-nary in which the keys are the individual words found in the file and the values are the number of times each word appears. For example, if the word “the” appears 128 times, the dictionary would contain an element with 'the' as the key and 128 as the value. The program should either display the frequency of each word or create a second file containing a list of each word and its frequency.

In [ ]:
def main():
    # Set up empty dictionary
    counter = {}

    # Get input text
    input_name = input('Enter the name of the input file: ')
    input_file = open(input_name, 'r')
    text = input_file.read()
    words = text.split()

    # Add each unique word to dictionary with a counter of 0
    unique_words = set(words)
    for word in unique_words:
        counter[word] = 0

    # For each word in the text increase its counter in the dictionary
    for item in words:
        counter[item] += 1

    # Display results
    print(format('word', '15'),'\t',format('occurrences','15'))
    print('----------------------------------------------')
    while len(counter)>0:

        pair = counter.popitem()
        print(format(pair[0],'15'), format(pair[1], '15'))

# Call the main function.
main()